# Secrets. Don't check into git!!
#export CHANGELOG_GITHUB_TOKEN=XXXXXXXXXXXXXXXXXXXXXXXX

export KAMINO_SALT=XXXXXXXXXXXXXXXXXXXXXXXXX

export SLACK_ROOM_WEBHOOK=https://hooks.slack.com/services/XXXXXXXXXXXXXXXXXXXXXXX
